/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}
/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:rgb(107, 92, 67);
	--Hoofdkopjes: rgb(2, 125, 117);
	--main-background-color: rgb(137, 201, 161);
	--sectioncolor-background: rgb(248, 248, 240);
	--logocolor: rgb(230, 0, 18);
    --menucolor:  rgb(241, 226, 111);

	/* Font */
	font-family: fot-rodin-pron, sans-serif;
font-style: normal;
font-weight: 600;
background-color: var(--main-background-color);

}



 /* ...................eerste deel = navigatie ...................... */

body {
	margin: 0;
}

header nav img {
max-width: 3em;

}

header nav:first-of-type ul {
/* hoe zet ik de background volledig op de achtergrond in de volledige breedte */
	list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--logocolor);
	flex-grow: 1;


}

header nav:nth-child(1) ul+ul {
background-color: var(--menucolor);
justify-content: center;
position: sticky;
top: 0;

}


header nav li {
	/* border: 5px solid blueviolet; */
padding: 5px;
list-style: none;


 }

/* hamburger menu navigatie ..hidden.. */
header nav+nav {

background-color: var(--menucolor);
position: fixed;
right: 0em;
left: 0em;
top: 0em;
bottom: 0em;
translate: 100% 0%; 


}


header nav+nav.toonMenu {
	translate: 0% 0%; 
	transition: 1s;	
}

/* browser doet een automatische 
padding van 40px dus hier specificeren */

ul{
	padding: 0px;
	margin: 0px;
}


button{
	border: none;
  background-color: transparent;
  padding: 0;
text-align: center;

}



 /* ...................tweede deel = MAIN ...................... */
 main {
	margin: 1em;
 }
 main img{
	width: 20em;
	}

	
h1, h2{
color: var(--Hoofdkopjes);
text-align: center;
}

p {
	color: 	var(--color-text );
	font-size: 0.9em;
    text-align: center;

}


/* footer */

footer {
	margin: 1em;
 }





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

